@use "../styles/variables" as *;
@use "../styles/mixins" as *;

#projectList {
  padding-top: 20vw;

  .title-wrap {
    padding-bottom: 10rem;
    border-bottom: 1px solid $color-black;

    .title {
      position: relative;
      width: fit-content;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 120%;
        transform: translateY(-50%);
        width: 100px;
        height: 100px;
        background: url("") no-repeat center / 100%;
        animation: projtct 1s steps(1, end) infinite;
      }
    }
  }

  .project-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8rem 4rem;
    padding: 5rem 0 10rem;

    li {
      width: calc(25% - 3rem);
      aspect-ratio: 3/4;

      .cont {
        margin-bottom: 4rem;

        h3 {
          font-size: 3.6rem;
        }

        p {
          font-size: 2.4rem;
          color: #666;
        }
      }

      .project-box-link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        transition: all 10ms cubic-bezier(0.165, 0.84, 0.44, 1);

        .project-box-front {
          position: relative;
          z-index: 2;
          background: $color-black;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          color: #fff;
          padding: 6rem 4rem 4rem;
          border-radius: 3rem;
          opacity: 0;
          visibility: hidden;
          transition: opacity 0.6s cubic-bezier(0.86, 0, 0.07, 1),
            transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);

          h3 {
            font-size: 4rem;
            font-weight: 600;
          }

          span {
            display: block;
            font-size: 1.6rem;
            margin-bottom: 0.5em;
          }

          p {
            font-size: 2.4rem;
          }
        }

        .project-box-back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 3rem;
          transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
          overflow: hidden;
        }

        &:hover {
          z-index: 2;

          .project-box-front {
            opacity: 1;
            visibility: visible;
            transform: translate(40px, 10px) rotate(7deg);
          }

          .project-box-back {
            transform: translate(0, -150px) rotate(-5deg);
          }
        }
      }
    }
  }

  // Hover animation for title background
  @keyframes projtct {
    0%,
    49% {
      background-image: url("/img/project.svg");
    }
    50%,
    100% {
      background-image: url("/img/project_hover.svg");
    }
  }

  @media (max-width: 1280px) {
    .project-list li {
      width: calc(33.3333% - 2.666666666666667rem);
    }
  }

  @media (max-width: 1024px) {
    .project-list li {
      width: calc(50% - 2rem);
      .project-box-link:hover .project-box-front {
        transform: translate(20px, 10px) rotate(2deg);
      }

      .project-box-link:hover .project-box-back {
        transform: translate(0, -130px) rotate(-3deg);
      }
    }
  }

  @media (max-width: 768px) {
    .project-list li .project-box-link:hover .project-box-back {
      transform: translate(0, -80px) rotate(-3deg);
    }
  }

  @media (max-width: 480px) {
    padding-top: 15rem;

    .project-list {
      gap: 5rem;
    }

    .project-list li {
      width: 100%;
      aspect-ratio: 1;
    }

    .project-list li .project-box-link:hover .project-box-front,
    .project-list li .project-box-link:hover .project-box-back {
      transform: translate(0, 0) rotate(0deg);
    }
  }
}
