#fogWrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;

  // 사용자 정의 CSS 변수
  --sidePaddingos-x: 0;
  --sidePaddingos-y: calc(var(--vh, 1vh) * 50);

  transform: translate(var(--sidePaddingos-x), var(--sidePaddingos-y));

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 78rem;
    max-width: 80vw;
    max-height: calc(var(--vh, 1vh) * 85);
    aspect-ratio: 1 / 1;

    background: url("/img/fog.svg") no-repeat center / contain;
    z-index: 2;

    animation: distortFog 15s infinite alternate both;

    @media screen and (max-width: 601px) {
      max-width: 120vw;
    }
  }
}

@keyframes distortFog {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  65% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.15);
  }
}
